body{
    margin:0;
}

.logo {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-left:10px;
}

.logo_text{
    position: absolute;
    display: inline;
    color: white;
    top: 41px;
    left: 100px;
    font-family: fantasy;
    font-weight: bold;
    font-size: 30px;
}
.search{border:0;
  width:6em;text-align:center;font-size:1em;margin:0.5em 0;}
.bar_links{
    padding:9.5px;
}

.bar_links:visited{
    padding:9.5px;
}

.bar_links:hover{
    padding:9.5px;
    color:white;
    background-color:black;
}

#welcome {
    position: absolute;
    width: 800px;
    height: 300px;
    top: 50%;
    margin-top: -180px;
    left: 50px;
    margin-left: 180px;
}

#welcome_text{
    color: blanchedalmond;
    font-family:sans-serif;
    font-weight:bold;
    font-size: 70px;
    text-align: center;
}

#under_welcome{
    color: blanchedalmond;
    font-family: sans-serif;
    font-size: 18px;
    margin-top:0px;
    text-align: center;
}

#searchbar_div{
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: rgba(255,255,255,0.3);
    bottom:0;
    left:0;
}

#searchbar{
    position:absolute;
    width: 800px;
    height: 35px;
    background-color: white;
    top: 50%;
    margin-top: -10px;
    left: 50%;
    margin-left: -400px;
    border-radius: 4px;
    border: 1px solid black;
}

#search_submit{
    position:absolute;
    top: 50%;
    margin-top: -7px;
    left:50%;
    margin-left: 410px;
}

.explore_the_world_text{
    color: #545454;
    font-family: sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight:800;
}

.people_travel_text{
    color: #545454;
    font-family:sans-serif;
    text-align: center;
    font-size: 15px;
    margin-bottom: 40px;
}

#newyork_div{
    position: relative;
    width: 800px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
}

#newyork_city{
    position: absolute;
    width: 450px;
    height: 300px;
    background-image: url("nyc.jpg");
    background-size: cover;
    margin-right: 30px;

}

#newyork_link{
    position: absolute;
    font-family: sans-serif;
    color: cornsilk;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    padding: 129px 156px 129px 155px;
    top: 0;
}

#newyork_link:visited{
    font-family: sans-serif;
    color: cornsilk;
    font-weight: bold;
    text-decoration: none;
}

#newyork_link:hover{
    font-family: sans-serif;
    background-color: rgba(255,255,255,0.3);
    font-weight: bold;
    text-decoration: none;
}

#ave_5th{
    position: absolute;
    width: 320px;
    height: 300px;
    background-image: url("5th_ave.jpg");
    background-size: cover;
    right: 0;

}

#ave_5th_link{
    position: absolute;
    font-family: sans-serif;
    color: cornsilk;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    padding: 129px 79px 129px 79px;
    top:0;
}

#ave_5th_link:visited{
    font-family: sans-serif;
    color: cornsilk;
    font-weight: bold;
    text-decoration: none;
}

#ave_5th_link:hover{
    font-family: sans-serif;
    background-color: rgba(255,255,255,0.3);
    font-weight: bold;
    text-decoration: none;
}

#osaka_div{
    position: relative;
    width: 800px;
    height: 250px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -60px;
    margin-bottom: 50px;
}

#osaka_castle{
    position: absolute;
    width: 250px;
    height: 250px;
    background-image: url("osaka_castle.jpg");
    background-size: cover;
    margin-right: 20px;
}

#osaka_castle_link{
    position: absolute;
    font-family: sans-serif;
    color: cornsilk;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    padding: 104px 30px 104px 29.5px;
    top:0;
}

#osaka_castle_link:visited{
    font-family: sans-serif;
    color: cornsilk;
    font-weight: bold;
    text-decoration: none;
}

#osaka_castle_link:hover{
    font-family: sans-serif;
    background-color: rgba(255,255,255,0.3);
    font-weight: bold;
    text-decoration: none;
}

#minami{
    position: absolute;
    width: 250px;
    height: 250px;
    background-image: url("minami.jpg");
    background-size: cover;
    margin-right: 30px;
    left: 280px;
}

#minami_link{
    position: absolute;
    font-family: sans-serif;
    color: cornsilk;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    padding: 104px 73px 104px 72px;
    top:0;
}

#minami_link:visited{
    font-family: sans-serif;
    color: cornsilk;
    font-weight: bold;
    text-decoration: none;
}

#minami_link:hover{
    font-family: sans-serif;
    background-color: rgba(255,255,255,0.3);
    font-weight: bold;
    text-decoration: none;
}

#osaka_city{
    position: absolute;
    width: 250px;
    height: 250px;
    background-image: url("osaka.jpeg");
    background-size: cover;
    right: 0;
}

#osaka_link{
    position: absolute;
    font-family: sans-serif;
    color: cornsilk;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    padding: 104px 80px 104px 80px;
    top:0;
}

#osaka_link:visited{
    font-family: sans-serif;
    color: cornsilk;
    font-weight: bold;
    text-decoration: none;
}

#osaka_link:hover{
    font-family: sans-serif;
    background-color: rgba(255,255,255,0.3);
    font-weight: bold;
    text-decoration: none;
}

#travel_notes_div{
    position: relative;
    width: 800px;
    height:300px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom; 100px;
}

.travel_notes_link{
    text-align: center;
    font-family: sans-serif;
    color:#545454;
    font-size: 25px;
    text-decoration: none;
}

.travel_notes_link:hover{
    text-align: center;
    font-family: sans-serif;
    color:black;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
}

.travel_notes_link:visited{
    text-align: center;
    font-family: sans-serif;
    color:#545454;
    font-size: 25px;
    text-decoration: none;
}

#footer{
    position: relative;
    bottom:0;
    width: 100%;
    height: 120px;
    background-color: black;
}
