<%- include header %>

<!-- <div id="container" data-cs-t="deatails">
    <div class="row row-placeTop">
        <div class="wrapper"> -->
<div class="crumb">
    <div class="item"><a href="/mdd/" target="_blank">Destination</a><em>&gt;</em>
    </div>

    <div class="item">
        <div class="drop">
            <span class="hd"><a href="/travel-scenic-spot/mafengwo/21536.html" target="_blank">China<i></i></a></span>
                <div class="bd">
                    <i class="arrow"><b></b></i>
                        <div class="col">
                            <h3>Hotspots</h3>
                                <ul class="clearfix">
                                    <li><a href="#" target="_blank">Beijing</a></li>
                                    <li><a href="#" target="_blank">Shanghai</a></li>
                                    <li><a href="#" target="_blank">Taiwan</a></li>
                                    </ul>
                        </div>
                            <div class="more"><a href="#" target="_blank">&gt;&gt;More Destination</a></div>
                </div>
        </div>
        <em>&gt;</em>
    </div>
    <div class="item">
            <div class="drop">
                    <span class="hd"><a href="#">Hong Kong<i></i></a></span>
                    <div class="bd">
                        <i class="arrow"><b></b></i>
                        <div class="col">
                            <ul class="clearfix">
                                <li><a href="#" target="_blank">Hong Kong Spots</a></li>
                                <li><a href="#" target="_blank">Hong Kong Traveling Notes</a></li>
                            </ul>
                        </div>
                    </div>
            </div>
    </div>

    <script language="JavaScript" type="text/javascript">
        $(function () {
            $('.drop').mouseenter(function(ev) {
                var target = $(ev.currentTarget);
                clearTimeout(target.data('hideTimer'));
                target.addClass('open');
                target.children('bd').fadeIn(200);
            });
            $('.drop').mouseleave(function(ev) {
                var target = $(ev.currentTarget);
                target.data("hideTimer", setTimeout(function() {
                    target.removeClass('open');
                    target.children('bd').fadeOut(200);
                }, 200));
            });
        });
    </script>


    <div class="row row-primary">
        <div class="wrapper">
            <div class="screen clearfix">
                <div class="r-main">
                    <a class="photo" href="/photo/mdd/10189.html" target="_blank">
                            <img src="http://a2-q.mafengwo.net/s5/M00/87/12/wKgB3FGMgSCAZo0qAAgGckFTqJA54.jpeg?imageMogr2%2Fthumbnail%2F%211020x540r%2Fgravity%2FCenter%2Fcrop%2F%211020x540%2Fquality%2F100" width="680" height="360">
                                <div class="text">
                                    <span>Hong Kong</span>
                                </div>
                    </a>
                </div>
                <div class="m-impress">
                    <div style=" padding-left: 150px; color: orange;">
                        <h3 class="hd">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspHong Kong Impression</h3>
                    </div>
                    <div class="bd clearfix">
                        <ul class="tag" style="height: 140px;overflow: hidden; padding-left: 50px; color: grey;">
                        <a target="_blank">Good</a></ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-summary row-bg">
                <div class="wrapper">
                    <h2 class="title">General situation</h2>
                        <div>
                            <p style="display: none;">

                            </p>
                            <span id="mdd_poi_desc">Hong Kong is one of the world's most significant financial centers, with the highest Financial Development Index score and consistently ranks as the world's most competitive and freest economic entity. As the world's 8th largest trading entity, its legal tender, the Hong Kong dollar, is the world's 13th most traded currency. Hong Kong's tertiary sector dominated economy is characterized by simple taxation with a competitive level of corporate tax and supported by its independent judiciary system. However, while Hong Kong has one of the highest per capita incomes in the world, it suffers from severe income inequality.
                            <br></span>
                        </div>
                </div>
        </div>

        <div class="row row-hotScenic row-bg" data-cs-p="热门景点">
            <div class="wrapper">
                <h2 class="title">Hot Spot</h2>
                <div class="bd">
                    <div class="grid grid-two">
                        <div class="figure">
                        <a href="#" target="_blank" title="旺角">
                            <img src="http://a3-q.mafengwo.net/s1/M00/6D/8F/wKgBm07QfLCGLqvoAAIk2_FpcF801.jpeg?imageMogr2%2Fthumbnail%2F%21485x320r%2Fgravity%2FCenter%2Fcrop%2F%21485x320%2Fquality%2F100" width="485" height="320">
                            <h3 class="title">Mong Kok</h3>
                                <div class="mask-container">
                                    <div class="mask">
                                        <div class="middle">
                                            <h3>Mong Kok</h3>
                                                <p>good</p>
                                        </div>
                                    </div>
                                </div>
                        </a>
                        </div>
                    </div>

                                <div class="grid grid-two">
                        <div class="figure">
                        <a href="#" target="_blank" title="旺角">
                            <img src="http://a3-q.mafengwo.net/s1/M00/6D/8F/wKgBm07QfLCGLqvoAAIk2_FpcF801.jpeg?imageMogr2%2Fthumbnail%2F%21485x320r%2Fgravity%2FCenter%2Fcrop%2F%21485x320%2Fquality%2F100" width="485" height="320">
                            <h3 class="title">Mong Kok</h3>
                                <div class="mask-container">
                                    <div class="mask">
                                        <div class="middle">
                                            <h3>Mong Kok</h3>
                                                <p>good</p>
                                        </div>
                                    </div>
                                </div>
                        </a>
                        </div>
                    </div>

                                <div class="grid grid-two">
                        <div class="figure">
                        <a href="#" target="_blank" title="旺角">
                            <img src="http://a3-q.mafengwo.net/s1/M00/6D/8F/wKgBm07QfLCGLqvoAAIk2_FpcF801.jpeg?imageMogr2%2Fthumbnail%2F%21485x320r%2Fgravity%2FCenter%2Fcrop%2F%21485x320%2Fquality%2F100" width="485" height="320">
                            <h3 class="title">Mong Kok</h3>
                                <div class="mask-container">
                                    <div class="mask">
                                        <div class="middle">
                                            <h3>Mong Kok</h3>
                                                <p>good</p>
                                        </div>
                                    </div>
                                </div>
                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ul class="plan-type" style="list-style-type:none;
            margin:6px;
            padding:0;
            overflow:hidden;">
            <li>
                <a href="#" class="tabcon">Hong Kong Travel Notes</a>
            </li>
            <li>
                <a href="#" class="tabcon">Hong Kong Travel Plan</a>
            </li>
        </ul>

        <div id="travel_notes_div">
            <ul style="list-style-type: square">
                <li><a href="#" class="travel_notes_link">travel note 1</a></li>
                <li><a href="#" class="travel_notes_link">travel note 2</a></li>
                <li><a href="#" class="travel_notes_link">travel note 3</a></li>
                <li><a href="#" class="travel_notes_link">travel note 4</a></li>
                <li><a href="#" class="travel_notes_link">travel note 5</a></li>
            </ul>
        </div>
    </div>
</div>
<!--         </div>
    </div>
</div> -->

<%- include footer %>