<form method="post">
  name: <input type="text" name="name"><br>
  password:<input type="password" name="password" placehoder="aaa"><br>
  location:<input type = "text" name= "location"><br>
  introduction:<input type = "text" name="introduction"><br>
  <input type="submit" value="Submit">
</form>
