<form method="post">
  name: <input type="text" name="name"><br>
  password:<input type="password" name="password"><br>
  old_password:<input type="password" name="oldpassword"><br>
  repassword:<input type="password" name="repassword"><br>

  <input type="submit" value="Submit">
</form>
