<!-- <!DOCTYPE html> -->

</article>

<div id="footer">
    <div >
        <img src="/images/homepage/logo.jpg" class="logo" />
        <p class="logo_text">Tripedia&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Start your fantastic trip with tripedia</p>
    </div>
</div>
</body>
</html>