<!-- <!DOCTYPE html> -->

</article>

<div id="footer">
    <div class="nav">
        <img src="/images/homepage/logo.jpg" class="logo" />
        <p class="logo_text">Tripedia</p><p class="right">Start your fantastic trip with tripedia</p>
    </div>
</div>
</body>
</html>