<!DOCTYPE html>
<html lang="en">
<head>
<meta charset='UTF-8'/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title><%= title %> - Tripedia</title>
<link rel='stylesheet' href='/stylesheets/style.css'/>
<link rel='stylesheet' href='/stylesheets/theme.min.css'/>
<link rel='stylesheet' href='/stylesheets/homepage.css'/>
<link rel='stylesheet' href='/stylesheets/footer.css'/>
<link rel='stylesheet' href='/stylesheets/travelnotes.css'/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/scripts/bootstrap.min.js"></script>
<script src="/scripts/main.js"></script>
<script>
$(document).ready(function () {
	// Full screen carousel
	var $item = $('#mainCarousel .item');
	var $wHeight = $(window).height();
	$item.height($wHeight);
	$('.header').height($wHeight);
	$item.addClass('full-screen');
	var $currentSlide = Math.floor((Math.random() * $item.length));
	$('#mainCarousel .item > img').each(function() {
		var $src = $(this).attr('src');
		var $color = $(this).attr('data-color');
		$(this).parent().css({
			'background-image' : 'url(' + $src + ')',
			'background-color' : $color
		});
		$(this).parent().removeClass('active');
		$(this).remove();
	});
	// Random Initialized slide
	$item.eq($currentSlide).addClass('active');
	$(window).on('resize', function (){
		$wHeight = $(window).height();
		$item.height($wHeight);
		$('.header').height($wHeight);
	});
	// Transparent navbar
	$(window).scroll(onscroll = function () {
		var imageHeight = $("#mainCarousel").height();
		if ($(window).scrollTop() > imageHeight * 0.8) {
			$('.navbar-fixed-top').removeClass("transparent");
		} else if ($(window).scrollTop() < imageHeight * 0.6) {
			$('.navbar-fixed-top').addClass("transparent");
		}
	});
	onscroll();
	$('.carousel').carousel({
		interval: 5000,
		pause: "false"
	});
	// Enter-site Animation
	// Avoid presenting changes above to users
	$("#mainCarousel").animate({"opacity":1},500);
});
</script>
</head>
<body class="index">
<nav class="navbar navbar-default navbar-fixed-top transparent">
    <div class="container">
		<div class="navbar-header">
			<!-- Responsive design: collapse navabar into button -->
			<button type="button" data-target="#topnav" data-toggle="collapse" class="navbar-toggle">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" target="_top" href="/">
				<img src="/images/Tripedia_white.png" alt="tripedia" />
			</a>
		</div>
		<div class="collapse navbar-collapse" id="topnav">
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/dest">Destination</a></li>
				<li><a href="/note">Travel Note</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
    <% if (user) { %>
			<li class="dropdown">
				<a href="javascript:;" class="dropdown-toggle" id="usermenu" data-toggle="dropdown">
				<span class="glyphicon glyphicon-user"></span>
				<span><%= user.username %></span>
				<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="usermenu">
				<li role="presentation"><a role="menuitem" tabindex="-1" href="/profile">My profile</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="/profile/post">Post travel note</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">My friends</a></li>
				<li role="presentation" class="divider"></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Edit Information</a></li>
				<li role="presentation" class="divider"></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="/account/logout">Logout</a></li>
				</ul>
			</li>
    <% } else { %>
			<li><a href="/account/signup?callback=<%=encodeURIComponent(url) %>"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
			<li><a href="/account/login?callback=<%=encodeURIComponent(url) %>"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
    <% } %>
		</ul>
	</div>
  </div>
</nav>
<section class="header">
    <div id="mainCarousel" class="carousel slide" data-ride="carousel">
		<!-- Wrapper for slides -->
	    <div class="carousel-inner" role="listbox">
	        <div class="item active">
		        <img src="images/homepage/bg_affrica.jpg" alt="Chania">
	        </div>
	        <div class="item" >
		        <img src="images/homepage/bg_paris.jpg" alt="Chania">
	        </div>
	        <div class="item">
		        <img src="images/homepage/bg_montreal.jpg" alt="Flower">
	        </div>
	        <div class="item">
		        <img src="images/homepage/bg_hk.jpg" alt="Flower">
	        </div>
	     </div>

		<!-- Left and right controls -->
	     <a class="left carousel-control" href="#mainCarousel" role="button" data-slide="prev">
		     <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		     <span class="sr-only">Previous</span>
	     </a>
	     <a class="right carousel-control" href="#mainCarousel" role="button" data-slide="next">
		     <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		     <span class="sr-only">Next</span>
	     </a>
     </div>


    <div id="text_in_carousel">
        <p id="product">Tripedia</p>
        <p id="slogan">Everything about trip.</p>
    </div>

    <div id="searchbar_div">
		<form class="seletive-search" role="search" action="/search" method="get">
			<input id="search_type" name="type" type="hidden" value="city">
			<div class="input-group" id="search">
				<div class="input-group-btn">
					<button type="button" class="btn btn-search btn-default dropdown-toggle" name="type" data-toggle="dropdown">
						<span class="glyphicon glyphicon-map-marker"></span>
						<span class="label-icon">City</span>
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li data-value="city">
							<a href="javascript:;">
								<span class="glyphicon glyphicon-map-marker"></span>
								<span class="label-icon">City</span>
							</a>
						</li>
						<li data-value="note">
							<a href="javascript:;">
							<span class="glyphicon glyphicon-file"></span>
							<span class="label-icon">Travel Note</span>
							</a>
						</li>
						<li data-value="poi">
							<a href="javascript:;">
							<span class="glyphicon glyphicon glyphicon-pushpin"></span>
							<span class="label-icon">Attraction</span>
							</a>
						</li>
						<li data-value="user">
							<a href="javascript:;">
							<span class="glyphicon glyphicon-user"></span>
							<span class="label-icon">User</span>
							</a>
						</li>
					</ul>
				</div>
				<input type="text" class="form-control" name="q" placeholder="Where do you want to go?">
				<div class="input-group-btn">
					<input type="submit" class="btn btn-search btn-default" value="Search">
				</div>
			</div>
		</form>
    </div>
</section>
<!-- END of header -->
<section class="city_recommend">
	<h1 class="explore_the_world_text">Explore The World</h1>
	<p class="people_travel_text">See where people are traveling, all around the world.</p>
	<div id="newyork_div">
		<div id="newyork_city"><a href="#" id="newyork_link">New York</a></div>
		<div id="ave_5th"><a href="#" id="ave_5th_link">5th Avenue</a></div>
	</div>
	<div id="osaka_div">
		<div id="osaka_castle"><a href="#" id="osaka_castle_link">Osaka Castle</a></div>
		<div id="minami"><a href="#" id="minami_link">Minami</a></div>
		<div id="osaka_city"><a href="#" id="osaka_link">Osaka</a></div>
	</div>
</section>
<!-- end of City recommend -->

<!-- start of Travel notes recommend -->
<section class="city_recommend">
	<h1 class="explore_the_world_text">Travel Notes Recommandation</h1>
	<p class="people_travel_text">See where people have visited and what they recommand</p>
	<div class="good-container">
			<ul class="clearfix nslog-area plan-good-list" data-nslog='{"type": 1701, "cmd":"click", "pos":"plan-good-list"}'>
				<li class="list-travelnote">
					<div class="triangle-topright special"></div>
					<div class="triangle-topright good"></div>
					<a class="plan-cover nslog" href="#" target="_blank" data-nslog='{"type": 1701, "cmd":"click", "pos":"plan-cover-list"}' pb-index="0" pb-id="plan4757368">
					<img class="cover-bg J_img-lazyload" src="http://file2.desktx.com/pc/wallpaper/comic/20100317/dongman_desktx_1600-1200.jpg" data-src="" alt="youjitupian"/>
					</a>
					<div class="author-info">
					<a class="link-mask" href="#" target="_blank" pb-index="0" pb-id="plan4757368"></a>
					<div class="user-info ">
					<a target="_blank" href="/user/2c79a238abf41f292928de79" class="nslog person-avatar" data-nslog='{"type": 1701, "cmd":"click", "pos":"plan-author-click"}' pb-index="0" pb-id="plan4757370" title="username">
					<img width="50" height="50" src="http://file2.desktx.com/pc/wallpaper/comic/20100317/dongman_desktx_1600-1200.jpg" alt="yonghu touxiang"/>
					</a>
					<a href="#" pb-index="0" pb-id="plan4757370" target="_blank" class="person-uname">Author</a>
					</div>
					</div>
					<div class="plan-info">
					<a class="plan-title nslog" href="#;idx=0" pb-index="0" pb-id="plan4762886" data-nslog='{"type": 1701, "cmd":"click", "pos":"plan-title-click"}' target="_blank"><h3 style="font-weight:700;">Note title</h3></a>
					<p class="plan-trip">Destination：<span class="plan-trips nslog" data-nslog='{"type": 1701, "cmd":"click", "pos":"plan-scene-click"}'>
					<a target="_blank" pb-index="0" pb-id="plan4757369" href="#">some palce</a>
					</span>
					</p>
					<p class="plan-trip-day">Days : n</p>
					</div>
					<div class="plan-view">
					<span class="view-count" title="Read"><a class="reading_quantity">
						Read: </a>60251</span>
					</div>
				</li>
				<li class="list-travelnote">
					<div class="triangle-topright special"></div>
					<div class="triangle-topright good"></div>
					<a class="plan-cover nslog" href="#" target="_blank" data-nslog='{"type": 1701, "cmd":"click", "pos":"plan-cover-list"}' pb-index="0" pb-id="plan4757368">
					<img class="cover-bg J_img-lazyload" src="http://file2.desktx.com/pc/wallpaper/comic/20100317/dongman_desktx_1600-1200.jpg" data-src="" alt="youjitupian"/>
					</a>
					<div class="author-info">
					<a class="link-mask" href="#" target="_blank" pb-index="0" pb-id="plan4757368"></a>
					<div class="user-info ">
					<a target="_blank" href="/user/2c79a238abf41f292928de79" class="nslog person-avatar" data-nslog='{"type": 1701, "cmd":"click", "pos":"plan-author-click"}' pb-index="0" pb-id="plan4757370" title="username">
					<img width="50" height="50" src="http://file2.desktx.com/pc/wallpaper/comic/20100317/dongman_desktx_1600-1200.jpg" alt="yonghu touxiang"/>
					</a>
					<a href="#" pb-index="1" pb-id="plan4757370" target="_blank" class="person-uname">Author</a>
					</div>
					</div>
					<div class="plan-info">
					<a class="plan-title nslog" href="/plan/c26d6eefd8d727c210d9d386?request_id=625644213&amp;idx=0" pb-index="0" pb-id="plan4762886" data-nslog='{"type": 1701, "cmd":"click", "pos":"plan-title-click"}' target="_blank"><h3 style="font-weight:700;">Note title</h3></a>
					<p class="plan-trip">Destination：<span class="plan-trips nslog" data-nslog='{"type": 1701, "cmd":"click", "pos":"plan-scene-click"}'>
					<a target="_blank" pb-index="1" pb-id="plan4757369" href="#">some palce</a>
					</span>
					</p>
					<p class="plan-trip-day">Days : n</p>
					</div>
					<div class="plan-view">
					<span class="view-count" title="Read"><a class="reading_quantity">
						Read: </a>60251</span>
					</div>
				</li>

				<li class="list-travelnote">
					<div class="triangle-topright special"></div>
					<div class="triangle-topright good"></div>
					<a class="plan-cover nslog" href="#" target="_blank" data-nslog='{"type": 1701, "cmd":"click", "pos":"plan-cover-list"}' pb-index="0" pb-id="plan4757368">
					<img class="cover-bg J_img-lazyload" src="http://file2.desktx.com/pc/wallpaper/comic/20100317/dongman_desktx_1600-1200.jpg" data-src="" alt="youjitupian"/>
					</a>
					<div class="author-info">
					<a class="link-mask" href="#" target="_blank" pb-index="0" pb-id="plan4757368"></a>
					<div class="user-info ">
					<a target="_blank" href="/user/2c79a238abf41f292928de79" class="nslog person-avatar" data-nslog='{"type": 1701, "cmd":"click", "pos":"plan-author-click"}' pb-index="0" pb-id="plan4757370" title="username">
					<img width="50" height="50" src="http://file2.desktx.com/pc/wallpaper/comic/20100317/dongman_desktx_1600-1200.jpg" alt="yonghu touxiang"/>
					</a>
					<a href="#" pb-index="2" pb-id="plan4757370" target="_blank" class="person-uname">Author</a>
					</div>
					</div>
					<div class="plan-info">
					<a class="plan-title nslog" href="/plan/c26d6eefd8d727c210d9d386?request_id=625644213&amp;idx=0" pb-index="0" pb-id="plan4762886" data-nslog='{"type": 1701, "cmd":"click", "pos":"plan-title-click"}' target="_blank"><h3 style="font-weight:700;">Note title</h3></a>
					<p class="plan-trip">Destination：<span class="plan-trips nslog" data-nslog='{"type": 1701, "cmd":"click", "pos":"plan-scene-click"}'>
					<a target="_blank" pb-index="2" pb-id="plan4757369" href="#">some palce</a>
					</span>
					</p>
					<p class="plan-trip-day">Days : n</p>
					</div>
					<div class="plan-view">
					<span class="view-count" title="Read"><a class="reading_quantity">
						Read: </a>60251</span>
					</div>
				</li>

				<li class="list-travelnote">
					<div class="triangle-topright special"></div>
					<div class="triangle-topright good"></div>
					<a class="plan-cover nslog" href="#" target="_blank" data-nslog='{"type": 1701, "cmd":"click", "pos":"plan-cover-list"}' pb-index="0" pb-id="plan4757368">
					<img class="cover-bg J_img-lazyload" src="http://file2.desktx.com/pc/wallpaper/comic/20100317/dongman_desktx_1600-1200.jpg" data-src="" alt="youjitupian"/>
					</a>
					<div class="author-info">
					<a class="link-mask" href="#" target="_blank" pb-index="0" pb-id="plan4757368"></a>
					<div class="user-info ">
					<a target="_blank" href="/user/2c79a238abf41f292928de79" class="nslog person-avatar" data-nslog='{"type": 1701, "cmd":"click", "pos":"plan-author-click"}' pb-index="0" pb-id="plan4757370" title="username">
					<img width="50" height="50" src="http://file2.desktx.com/pc/wallpaper/comic/20100317/dongman_desktx_1600-1200.jpg" alt="yonghu touxiang"/>
					</a>
					<a href="#" pb-index="3" pb-id="plan4757370" target="_blank" class="person-uname">Author</a>
					</div>
					</div>
					<div class="plan-info">
					<a class="plan-title nslog" href="/plan/c26d6eefd8d727c210d9d386?request_id=625644213&amp;idx=0" pb-index="0" pb-id="plan4762886" data-nslog='{"type": 1701, "cmd":"click", "pos":"plan-title-click"}' target="_blank"><h3 style="font-weight:700;">Note title</h3></a>
					<p class="plan-trip">Destination：<span class="plan-trips nslog" data-nslog='{"type": 1701, "cmd":"click", "pos":"plan-scene-click"}'>
					<a target="_blank" pb-index="3" pb-id="plan4757369" href="#">some palce</a>
					</span>
					</p>
					<p class="plan-trip-day">Days : n</p>
					</div>
					<div class="plan-view">
					<span class="view-count" title="Read"><a class="reading_quantity">
						Read: </a>60251</span>
					</div>
				</li>

				<li class="list-travelnote">
					<div class="triangle-topright special"></div>
					<div class="triangle-topright good"></div>
					<a class="plan-cover nslog" href="#" target="_blank" data-nslog='{"type": 1701, "cmd":"click", "pos":"plan-cover-list"}' pb-index="0" pb-id="plan4757368">
					<img class="cover-bg J_img-lazyload" src="http://file2.desktx.com/pc/wallpaper/comic/20100317/dongman_desktx_1600-1200.jpg" data-src="" alt="youjitupian"/>
					</a>
					<div class="author-info">
					<a class="link-mask" href="#" target="_blank" pb-index="0" pb-id="plan4757368"></a>
					<div class="user-info ">
					<a target="_blank" href="/user/2c79a238abf41f292928de79" class="nslog person-avatar" data-nslog='{"type": 1701, "cmd":"click", "pos":"plan-author-click"}' pb-index="0" pb-id="plan4757370" title="username">
					<img width="50" height="50" src="http://file2.desktx.com/pc/wallpaper/comic/20100317/dongman_desktx_1600-1200.jpg" alt="yonghu touxiang"/>
					</a>
					<a href="#" pb-index="4" pb-id="plan4757370" target="_blank" class="person-uname">Author</a>
					</div>
					</div>
					<div class="plan-info">
					<a class="plan-title nslog" href="/plan/c26d6eefd8d727c210d9d386?request_id=625644213&amp;idx=0" pb-index="0" pb-id="plan4762886" data-nslog='{"type": 1701, "cmd":"click", "pos":"plan-title-click"}' target="_blank"><h3 style="font-weight:700;">Note title</h3></a>
					<p class="plan-trip">Destination：<span class="plan-trips nslog" data-nslog='{"type": 1701, "cmd":"click", "pos":"plan-scene-click"}'>
					<a target="_blank" pb-index="4" pb-id="plan4757369" href="#">some palce</a>
					</span>
					</p>
					<p class="plan-trip-day">Days : n</p>
					</div>
					<div class="plan-view">
					<span class="view-count" title="Read"><a class="reading_quantity">
						Read: </a>60251</span>
					</div>
				</li>
				<li class="list-travelnote">
					<div class="triangle-topright special"></div>
					<div class="triangle-topright good"></div>
					<a class="plan-cover nslog" href="#" target="_blank" data-nslog='{"type": 1701, "cmd":"click", "pos":"plan-cover-list"}' pb-index="0" pb-id="plan4757368">
					<img class="cover-bg J_img-lazyload" src="http://file2.desktx.com/pc/wallpaper/comic/20100317/dongman_desktx_1600-1200.jpg" data-src="" alt="youjitupian"/>
					</a>
					<div class="author-info">
					<a class="link-mask" href="#" target="_blank" pb-index="0" pb-id="plan4757368"></a>
					<div class="user-info ">
					<a target="_blank" href="/user/2c79a238abf41f292928de79" class="nslog person-avatar" data-nslog='{"type": 1701, "cmd":"click", "pos":"plan-author-click"}' pb-index="0" pb-id="plan4757370" title="username">
					<img width="50" height="50" src="http://file2.desktx.com/pc/wallpaper/comic/20100317/dongman_desktx_1600-1200.jpg" alt="yonghu touxiang"/>
					</a>
					<a href="#" pb-index="5" pb-id="plan4757370" target="_blank" class="person-uname">Author</a>
					</div>
					</div>
					<div class="plan-info">
					<a class="plan-title nslog" href="/plan/c26d6eefd8d727c210d9d386?request_id=625644213&amp;idx=0" pb-index="0" pb-id="plan4762886" data-nslog='{"type": 1701, "cmd":"click", "pos":"plan-title-click"}' target="_blank"><h3 style="font-weight:700;">Note title</h3></a>
					<p class="plan-trip">Destination：<span class="plan-trips nslog" data-nslog='{"type": 1701, "cmd":"click", "pos":"plan-scene-click"}'>
					<a target="_blank" pb-index="5" pb-id="plan4757369" href="#">some palce</a>
					</span>
					</p>
					<p class="plan-trip-day">Days : n</p>
					</div>
					<div class="plan-view">
					<span class="view-count" title="Read"><a class="reading_quantity">
						Read: </a>60251</span>
					</div>
				</li>

			</ul>
		</div>
</section>
<% include footer %>
