<!-- Contain header/footer or not? -->
<%- include header %>

<!-- Add background image? -->

<div id="login" class="container">
	<div class="login-container">
        <div id="output"><%=error %></div>
        <div class="avatar"></div>
        <div class="form-box">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a href="/account/signup">Sign Up</a>
                </li>
                <li class="nav-item active">
                    <a href="javascript:;">Login</a>
                </li>
            </ul>
            <form name="loginform" accept-charset="utf-8" id="login_form" class="loginForm" method="post">
                <div class="form-group">
                    <input type="text" name="name" class="form-control" placeholder="Username">
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>

<%- include footer %>