<div class="header">
        <div class="switch" id="switch">
            <a class="switch_btn" id="switch_qlogin" href="/login" tabindex="7">&nbsp &nbsp &nbsp Log in</a>
    		<a class="switch_btn_focus" id="switch_login" href="/signup" tabindex="8">&nbsp Sign up</a>
            <div class="switch_bottom" id="switch_bottom" style="position: absolute; width: 64px; margin-left:20px;"></div>
        </div>
    </div>