<%- include header %>


<div class="container">
    <h2>Search results</h2>
    <% for (index=0;index<noteList.length;index++) {%>
    <div class="list-group">
    <p> <%= noteList[index].title %> </p>
    <p> <%= noteList[index].body %></p>
    </div>
    <% } %>
</div>

<%- include footer %>
