<form method="post">
  title:<br />
  <!-- <input type="text" name="title" value="<%= title %>" disabled="disabled" /><br /> -->
  <textarea name="title"><%= title %></textarea><br />
  Brief：<br />
  <textarea name="text" rows="20" cols="100">text</textarea><br />
  <input type="submit" value="Save" />
</form>
