<%- include header %>

<div>
	<p>a</p>
	<p>aa</p>

</div>
<form method="post">
  Title: <br />
  <input type="text" name="title" /><br />
  Main：<br />
  <textarea name="text" rows="20" cols="100"></textarea><br />
  <input type="submit" value="submit" />
</form>

<%- include footer %>
