
<%- include header %>
<link rel='stylesheet' href='/stylesheets/post.css'/>
<main class="write-note">
  <div class="container">
    <div class="post-container">
      <form method="post">
        <div class="input-group" style="margin-left:290px;">
          <span class="input-group-addon">Title</span>
          <input id="msg" type="text" class="form-control" name="msg"
          style="width: 50%" placeholder="Please enter the title of your note">
        </div>
        <div id="gap">
          <span class="help-block" style="font-size: 20px; padding-left:290px">
            Title is very importent for a travel note.
          </span>
        </div>
        <div class="main">
          <div class="form-group">
            <textarea class="form-control" rows="40" id="comment" style="margin-left: 100px"
            placeholder="Record your trip here..."></textarea>
          </div>
        </div>
        <div class="info">
          <ul class="place">
            <ls class="input-place">
              <div class="input-group" style="width:150px">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="name" type="text" class="form-control" name="name" placeholder="Name">
              </div>
            </ls>
            <ls class="input-plcae">
              <div class="input-group" style="width:150px">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="name" type="text" class="form-control" name="name" placeholder="Name">
              </div>
            </ls>
          </ul>
        </div>
          <button type="submit" class="btn btn-default" style="margin-left:450px;">
            <span class="glyphicon glyphicon-ok"></span>
            Post
          </button>
        </form>

    </div>
  </div>
</main>







<%- include footer %>
