
<%- include header %>
<link rel='stylesheet' href='/stylesheets/post.css'/>
<main class="write-note">
  <div class="container">
    <div class="post-container">
      <form method="post">
        <div class="input-group" style="margin-left:290px;">
          <span class="input-group-addon">Title</span>
          <input id="msg" type="text" class="form-control" name="msg"
          style="width: 50%" placeholder="Please enter the title of your note">
        </div>
        <div id="gap">
          <span class="help-block" style="font-size: 20px; padding-left:290px">
            Title is very importent for a travel note.
          </span>
        </div>
      </form>

      <div class="main">
        <form method="post">
          <div class="form-group">
            <textarea class="form-control" rows="45" id="comment" style="margin-left: 100px"
            placeholder="Record your trip here..."></textarea>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>







<%- include footer %>
