<%- include header %>
<link rel="stylesheet" href="/stylesheets/searchresult.css">
<!-- show the results of seaching attractions -->
<main class="page-search">
  <% if (posts.length==0) { %>
  <div class="noresult">

  <h1 class="middle">We are sorry we cannot find it</h1>
  </div>
  <% } else { %>
<div class="container">
    <h2>Search results</h2>
    <% for (index=0;index<posts.length;index++) {%>
    <div class="list-group">
      <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading"><%=
          posts[index].name
           %></h4>
        <p class="list-group-item-text well" style="color:black"><%= posts[index].introduction %>
        <p>Open Time:  <%=posts[index].openTime %></p>
        </p>
      </a>
    </div>
    <% } %>
</div>
  <% } %>


</main>

<% include footer %>
