body{margin:0;}
.nav .dropdown {padding: 10px;}
.logo {width: 100px;height: 100px;margin-top: 10px;margin-left:10px;}
.logo_text{position: absolute;display: inline;color: white;top: 50px;left: 100px;font-family: fantasy;font-weight: bold;font-size: 30px;}
.bar_links{padding:9.5px;}
.bar_links:visited{padding:9.5px;
}
.bar_links:hover{padding:9.5px;color:white;background-color:black;
}
.right{text-align: right;
}
#welcome {position: absolute;width: 800px;height: 300px;top: 50%;margin-top: -180px;left: 50px;margin-left: 180px;
}
#welcome_text{color: blanchedalmond;font-family:sans-serif;font-weight:bold;font-size: 70px;text-align: center;
}
#under_welcome{color: blanchedalmond;font-family: sans-serif;font-size: 18px;margin-top:0px;text-align: center;
}
#searchbar_div{position: absolute;width: 100%;height: 100px;background-color: rgba(255,255,255,0.3);bottom:0;left:0;
}
#searchbar{position:absolute;width: 800px;height: 35px;background-color: white;top: 50%;margin-top: -10px;left: 50%;margin-left: -400px;border-radius: 4px;border: 1px solid black;
}
#search_submit{position:absolute;top: 50%;margin-top: -7px;left:50%;margin-left: 410px;
}
.explore_the_world_text{color: #545454;font-family: sans-serif;text-align: center;font-size: 50px;font-weight:800;
}
.people_travel_text{color: #545454;font-family:sans-serif;text-align: center;font-size: 15px;margin-bottom: 40px;
}
#newyork_div{position: relative;width: 800px;height: 300px;margin-right: auto;margin-left: auto;margin-bottom: 100px;
}
#newyork_city{position: absolute;width: 450px;height: 300px;background-image: url("../images/homepage/nyc.jpg");background-size: cover;margin-right: 30px;
}
#newyork_link{position: absolute;font-family: sans-serif;color: cornsilk;font-weight: bold;font-size: 30px;text-decoration: none;padding: 129px 156px 129px 155px;top: 0;
}
#newyork_link:visited{font-family: sans-serif;color: cornsilk;font-weight: bold;text-decoration: none;
}
#newyork_link:hover{font-family: sans-serif;background-color: rgba(255,255,255,0.3);font-weight: bold;text-decoration: none;
}
#ave_5th{position: absolute;width: 320px;height: 300px;background-image: url("../images/homepage/5th_ave.jpg");background-size: cover;right: 0;
}
#ave_5th_link{position: absolute;font-family: sans-serif;color: cornsilk;font-weight: bold;font-size: 30px;text-decoration: none;padding: 129px 79px 129px 79px;top:0;
}
#ave_5th_link:visited{font-family: sans-serif;color: cornsilk;font-weight: bold;text-decoration: none;
}
#ave_5th_link:hover{font-family: sans-serif;background-color: rgba(255,255,255,0.3);font-weight: bold;text-decoration: none;
}
#osaka_div{position: relative;width: 800px;height: 250px;margin-right: auto;margin-left: auto;margin-top: -60px;margin-bottom: 50px;
}
#osaka_castle{position: absolute;width: 250px;height: 250px;background-image: url("../images/homepage/osaka_castle.jpg");background-size: cover;margin-right: 20px;
}
#osaka_castle_link{position: absolute;font-family: sans-serif;color: cornsilk;font-weight: bold;font-size: 30px;text-decoration: none;padding: 104px 30px 104px 29.5px;top:0;
}
#osaka_castle_link:visited{font-family: sans-serif;color: cornsilk;font-weight: bold;text-decoration: none;
}
#osaka_castle_link:hover{font-family: sans-serif;background-color: rgba(255,255,255,0.3);font-weight: bold;text-decoration: none;
}
#minami{position: absolute;width: 250px;height: 250px;background-image: url("../images/homepage/minami.jpg");background-size: cover;margin-right: 30px;left: 280px;
}
#minami_link{position: absolute;font-family: sans-serif;color: cornsilk;font-weight: bold;font-size: 30px;text-decoration: none;padding: 104px 73px 104px 72px;top:0;
}
#minami_link:visited{font-family: sans-serif;color: cornsilk;font-weight: bold;text-decoration: none;
}
#minami_link:hover{font-family: sans-serif;background-color: rgba(255,255,255,0.3);font-weight: bold;text-decoration: none;
}
#osaka_city{position: absolute;width: 250px;height: 250px;background-image: url("../images/homepage/osaka.jpeg");background-size: cover;right: 0;
}
#osaka_link{position: absolute;font-family: sans-serif;color: cornsilk;font-weight: bold;font-size: 30px;text-decoration: none;padding: 104px 80px 104px 80px;top:0;
}
#osaka_link:visited{font-family: sans-serif;color: cornsilk;font-weight: bold;text-decoration: none;
}
#osaka_link:hover{font-family: sans-serif;background-color: rgba(255,255,255,0.3);font-weight: bold;text-decoration: none;
}
#travel_notes_div{position: relative;width: 800px;height:300px;margin-right: auto;margin-left: auto;margin-bottom; 100px;
}
.travel_notes_link{text-align: center;font-family: sans-serif;color:#545454;font-size: 25px;text-decoration: none;
}
.travel_notes_link:hover{text-align: center;font-family: sans-serif;color:black;font-size: 25px;text-decoration: none;font-weight: bold;
}
.travel_notes_link:visited{text-align: center;font-family: sans-serif;color:#545454;font-size: 25px;text-decoration: none;
}
#footer{position: relative;bottom:0;width: 100%;height: 120px;background-color: black;
}
#edit_profile_nav{position: absolute;width: 100%;height: 50px; 
}
.cl{ clear: both;}input[type="text"]:focus, input[type="password"]:focus {
	outline:none;
}input::-ms-clear {
	display:none;
}

.login {
	margin:0 auto;
	width:370px;
	border:2px solid #eee;
	border-bottom:none;
	position:relative;
}.header {
	height:50px;
	border-bottom:1px solid #e2e2e2;
	position:relative;
	font-family:"Microsoft Yahei";
}.header .switch {
	height:45px;
	position:absolute;
	left:60px;
	bottom:0;
	font-size:16px;
}.header .switch #switch_qlogin {
	margin-right:85px;
}.header .switch .switch_btn {
	color:#999;
	display:inline-block;
	height:45px;
	line-height:45px;
	outline:none;
	*hide-focus:expression(this.hideFocus=true);
}.header .switch .switch_btn_focus {
	color:#333;
	display:inline-block;
	height:45px;
	line-height:45px;
	outline:none;
	*hide-focus:expression(this.hideFocus=true);
}.header .switch .switch_btn:hover {
	color:#333;
	text-decoration:none;
}.header .switch .switch_btn_focus:hover {
	text-decoration:none;
}#switch_bottom {
	position:absolute;
	bottom:-1px;_bottom:-2px;
	border-bottom:2px solid #848484;
}
.web_login {
	width:370px;
	position:relative;
}#web_login{_left:60px;*left:0;}.web_login .login_form {
	width:272px;
	margin:0 auto;
}.web_login .reg_form {
	width:300px;
	margin:0 auto;
}.web_login .input-tips {
	float:left;
	margin-top:10px;
	width:50px;
	height:42px;
	font-size:16px;
	line-height:42px;
	font-family:"Hiragino Sans GB", "Microsoft Yahei";
}.web_login .input-tips2 {
	float:left;
	text-align:right;
	padding-right:10px;
	width:75px;
	height:30px;
	font-size:16px;
	margin-top:10px;
	clear:both;
	line-height:30px;
	font-family:"Hiragino Sans GB", "Microsoft Yahei";
}.web_login .inputOuter {
	width:200px;
	height:42px;
	margin-top:10px;
	float:left;
	
}.web_login .inputOuter2 {
	width:200px;
	margin-top:6px;margin-top:5px\9;
	float:left;
	
}.web_login .inputstyle {
	width:200px;
	height:38px;
	margin-left: 15px;
	padding-left:5px;
	line-height:30px;line-height:38px;
	border:1px solid #D7D7D7;
	background:#fff;
	color:#333;border-radius:2px;
	font-family:Verdana, Tahoma, Arial;
	font-size:16px;
	ime-mode:disabled;
}.web_login input.inputstyle2:focus,.web_login input.inputstyle:focus{border:1px solid #198BD4;box-shadow:0 0 2px #198BD4;}.web_login .inputstyle2 {
	width:200px;
	height:34px;
	padding-left:5px;
	line-height:34px;
	border:1px solid #D7D7D7;
	background:#fff;
	color:#333;border-radius:2px;
	font-family:Verdana, Tahoma, Arial;
	font-size:16px;
	ime-mode:disabled;
}.web_login .uinArea {
	height:55px;
	position:relative;
	z-index:10;
}.web_login .pwdArea {
	height:55px;
	margin-bottom:10px;
	position:relative;
	z-index:3;
}.web_qr_login {
	position:relative;
	
	overflow:hidden;
}
.cue {
	height:40px;
	line-height:40px;
	font-size:14px;
	border:1px #CCCCCC solid;
	margin-top:10px;margin-bottom:5px;
	text-align:center;
	font-family:"Hiragino Sans GB", "Microsoft Yahei";
}.login {
	background-color:#ffffff;
}
h1{margin:80px auto 50px auto;text-align:center;color:#fff;margin-left:-25px;font-size:35px;font-weight: bold;text-shadow: 0px 1px 1px #555;}
.aptext{
	font-size: 14px;font-style: normal;position: absolute;right: 220px;
}
.login {border:0;
	padding:5px 0;
background: #fff;
margin: 0 auto;
-webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .3);
box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .3);}
.web_login{padding-bottom:20px;}
.jianyi{color:#fff;text-align:center;margin-top:25px;color:#B3B8C4;}.reg_form li {
height: 55px;
}
.cue {
margin-top: 15px;
margin-bottom: 10px;border:1px solid #eee;border-radius:3px;
}
.web_login input.inputstyle2:focus, .web_login input.inputstyle:focus {
border: 1px solid #5796f;
box-shadow: 0 0 0;
}.web_login .reg_form {
width: 300px;
margin: 0 auto;
}.web_login .inputstyle2 {border-radius:2px;width:210px;}.web_login .input-tips2 {
padding-right: 5px;
width: 80px;_width: 75px;_font-size:12px;}.button_blue
{
	display:inline-block;
	float:left;
	height:41px;
	border-radius:4px;
	background:#2795dc;
	border:none;
	cursor:pointer;
	border-bottom:3px solid #0078b3;
	*border-bottom:none;
	color:#fff;
	font-size:12px;padding:0 10px;*width:140px;
	text-align:center;
	outline:none;
	font-family: "Microsoft Yahei",Arial, Helvetica, sans-serif;
}input.button_blue:hover
{
	background:#0081c1;
	border-bottom:3px solid #006698;*border-bottom:none;
	color:#fff;
	text-decoration:none;
}a.zcxy {
	text-decoration: underline;
	line-height:18px;
	margin-left:170px;
	color: #959ca8;
}.web_login .login_form {margin-top:30px;}.web_login .uinArea {
height: 60px;}.header .switch{left:70px;}
ul.reg_form{list-style-type: none;}
.banner{position:relative}
.banner .second_tags_bar .center{height:auto}
.banner .home_bg{position:absolute;left:0;top:0;height:480px;right:0;z-index:10;background-position:center 0}
.banner .home_default_bg{background-image:url('/images/home_new2015/index_banner_bg.jpg')}
.banner .home_default_bg1{background-image:url('/images/home_new2015/banner_default1.jpg')}
.banner .center{height:480px}
.banner .bg_up_btn,.banner .bg_btn{padding:0 30px 0 22px;line-height:38px;border-radius:5px;background-color:#36404c;background-color:rgba(0,0,0,0.5);color:#fff;font-size:14px;position:relative}
.banner .bg_up_btn i,.banner .bg_btn i,.banner .bg_up_btn span,.banner .bg_btn span{vertical-align:middle;display:inline-block}
.banner .bg_up_btn i,.banner .bg_btn i{background-image:url('/images/home_new2015/home_sprite_v15.png');background-position:-251px 0;margin-right:15px}
.banner .bg_up_btn:hover,.banner .bg_btn:hover{text-decoration:none;color:#ff8a00;background-color:rgba(0,0,0,0.6)}
.banner .bg_up_btn{padding:0 50px;line-height:90px;font-size:24px;position:absolute;left:50%;top:50%;margin:-45px 0 0 -186px;border-radius:90px}
.banner .bg_up_btn i{width:65px;height:64px}
.banner .bg_up_btn:hover i{background-position:-317px 0}
.banner .bg_btn{float:right;margin-left:10px}
.banner .bg_btn i{width:26px;height:26px;background-position:-51px -138px;margin-right:7px}
.banner .bg_btn:hover i{background-position:-51px -165px}
.banner .switch_bg i{background-position:-78px -138px}
.banner .switch_bg:hover i{background-position:-78px -165px}
.banner .switch_pic i{width:24px;height:20px;background-position:0 -215px;background-image:url('/images/home_new2015/ico_sprite_v8.png');display:inline-block}
.banner .switch_pic:hover i{background-position:-25px -215px}
.banner .bg_btn i{background-image:url('/images/home_new2015/twice_ico_sprite_v9.png');background-size:220px;background-position:0 -213px}
.banner .bg_btn:hover i{background-position:0 -186px}
.banner .switch_bg i{background-position:-27px -213px}
.banner .switch_bg:hover i{background-position:-27px -186px}
.banner .switch_pic i{width:24px;height:20px;background-position:-147px -187px}
.banner .switch_pic:hover i{background-position:-147px -214px}
.map-item,.banner .home_bg,.bg_switch .my_bg,.home_bg .center{height:560px}
.tags_bar{height:58px;background-color:#fff;background-color:rgba(255,255,255,0.95);border-bottom:#d6d6d6 1px solid;box-shadow:0 2px 5px rgba(0,0,0,0.12)}
.tags_bar ul{float:right}
.tags_bar li{float:left;position:relative;z-index:10}
.tags_bar li .tags_link{display:block;margin-left:12px;margin-top:10px;padding:0 15px;position:relative;font-size:18px;height:48px;line-height:38px;color:#444;border-radius:5px 5px 0 0;z-index:1}
.tags_bar li .tags_link:after{content:'';width:100%;height:3px;background-color:#ff8a00;position:absolute;left:0;bottom:0;display:none}
.tags_bar li .tags_link:hover{text-decoration:none}
.tags_bar li.on .tags_link:after{display:block}
.tags_bar li .tags_link:hover{color:#ff8a00}
.tags_bar .more .tags_link{height:46px;margin-left:10px;padding-left:18px;border:#fff 1px solid;border:rgba(255,255,255,0) 1px solid;border-bottom:0;z-index:12;position:relative}
.maps-container .tags_bar{z-index:6}
.center{width:980px;margin:0 auto;position:relative}
.map_default .center{position:absolute;left:50%;margin-left:-490px;top:0;height:100%}
.map_default .center{z-index:10}
div.ie6.center{left:expression((0+(ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft:document.body.scrollLeft))+'px');top:expression((0+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop:document.body.scrollTop))+'px');width:100%}
div.jGrowl.center{top:0;width:50%;left:25%}
div.center div.jGrowl-notification,div.center div.jGrowl-closer{margin-left:auto;margin-right:auto}
.clearfix{*zoom:1}
.clearfix:after{content:'';clear:both;height:0;overflow:auto;display:block;}
.clearfix:after,.wrapper:after,.article:after{content:'\20';clear:both;display:block;}
.clearfix,.wrapper,.article{*zoom:1}
.flt2{float:right}
li.more .tags_link:hover:after{display:none}
li.more:hover .tags_link{background-color:#fff;border-color:#d6d6d6;color:#444}
li.more:hover .tags_link:before{content:'';position:absolute;width:1px;right:0;top:2px;bottom:0;border-radius:0 5px 0 0;box-shadow:2px 0 3px rgba(80,80,80,0.8)}
.second_tags_bar li .tags_link{height:48px;line-height:38px}
.side_bar{width:280px;background-color:#fff;box-shadow:0 0 2px rgba(0,0,0,0.05);position:relative;border-top-style:none;z-index:10;padding-bottom:55px}
.side_bar .MAvaInfo{padding:0 15px}
.flt1{float:left}
.second_tags_bar .MAvatar{position:absolute;left:30px;top:-30px}
.second_tags_bar .MAvatar .MAvaImg{margin-right:10px}
.second_tags_bar .MAvatar .MAvaEasyWord{margin-top:-7px}
.second_tags_bar .MAvatar .MAvaName{color:#fff;font-size:16px}
.second_tags_bar .MAvatar .MAvaLevel{font-size:16px;color:#ea3c1a}
.MAvatar{text-align:center;font-size:14px}
.MAvaImg{width:120px;height:70px;position:relative;margin:0 auto}
.MAvaImg img{position:relative;top:-50px;z-index:20;border-radius:120px}
.MAvaImg.hasAva .MAvaUp .Mphoto{display:none}
.MAvaImg.hasAva .MAvaUp:hover .Mphoto{display:block}
.MAvaName{font-size:22px;line-height:24px;margin-top:16px}
.MAvaName i,.MAvaName a{vertical-align:middle;margin-left:7px;display:inline-block;position:relative;top:-2px}
.upload_ava .MAvaName{color:#ff7200;font-size:18px}
.MAvaInfo{margin-top:16px;line-height:16px}
.MAvaInfo span{padding:0 15px 0 12px;display:inline-block;position:relative}
.MAvaInfo .MAvaSet{display:none}
.MAvaInfo .MAvaSet a:hover{background-position:-108px -166px}
.MAvaInfo .MAvaLevel:after{content:'';background-color:#d6d6d6;position:absolute;top:0;right:0;width:1px;height:16px}
.MAvaInfo .MAvaLevel a{color:#ea3c1a;font-size:16px;font-weight:bold;font-family:Arial}
.MAvaMyInfo span{padding:0 10px 0 7px}
.MAvaMyInfo .MAvaSet{padding:0 0 0 5px;position:relative;top:-1px;display:inline-block}
.MAvaMyInfo .MAvaSet a{width:17px;height:17px;background-image:url('/images/home_new2015/ico_sprite_v8.png');background-position:-108px -146px;display:inline-block;vertical-align:middle}
.MAvaMyInfo .MAvaPlace:after{content:'';background-color:#d6d6d6;position:absolute;top:0;right:0;width:1px;height:16px}
.MAvaProfile{margin-top:20px;padding:0 20px}
.MAvaProfile .addBtn{line-height:30px;border-radius:3px;color:#666;background-color:#efefef;display:block;text-align:center;transition:background-color .3s ease-out 0s;-webkit-transition:background-color .3s ease-out 0s}
.MAvaProfile .addBtn:hover{background-color:#ff8a00;color:#fff;text-decoration:none}
.MAvaProfile textarea{height:78px;padding:15px;background-color:#efefef;line-height:20px;color:#999;border-style:none;display:block;width:208px;border:#efefef 1px solid;font-size:14px;resize:none;transition:.3s ease-out 0s;-webkit-transition:.3s ease-out 0s}
.MAvatInput{margin-top:16px}
.MAvaProfile .MAvaBtn{line-height:30px;border-radius:3px;color:#fff;background-color:#ccc;margin-top:10px;display:block;text-align:center;transition:background-color .3s ease-out 0s;-webkit-transition:background-color .3s ease-out 0s}
.MAvaProfile .MAvaBtn:hover{background-color:#ff8a00;text-decoration:none}
.MAvaProfile .MAvaFocusing textarea{background-color:#fff;border-color:#ffc65a;box-shadow:0 0 3px #ffc65a}
.MAvaProfile .MAvaFocusing .MAvaBtn{background-color:#ffa800}
.MAvaProfile .MProfile{font-size:14px;color:#666;line-height:1.6em;text-align:left;padding:0 0 0 10px;position:relative}
.MAvaProfile .MProfile:before,.MAvaProfile .MProfile:after{content:"";display:block;width:8px;height:6px;position:absolute;background:url(/images/home_new2015/ico_sprite_v8.png) no-repeat}
.MAvaProfile .MProfile:before{left:0;top:5px;background-position:-18px -257px}
.MAvaProfile .MProfile:after{right:0;bottom:12px;background-position:-26px -257px}
.MAvaProfile pre{font-family:Arial,verdana,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,STHeiti;white-space:pre-wrap;word-break:break-word;word-wrap:break-word}
.MAvaAction{margin-top:20px;position:relative}
.MAvaAction .MAvaBtn{width:30px;display:inline-block;margin-right:5px;line-height:24px;border:#ffa800 1px solid;border-radius:3px;vertical-align:middle}
.MAvaAction .MAvaBtn:hover{text-decoration:none}
.MAvaAction .MAvaAttention{padding:0 16px 0 31px;border-color:#ffa800;background-color:#ffa800;color:#fff;position:relative}
.MAvaAction .MAvaAttention:hover{background-color:#ff8a00;border-color:#ff8a00}
.MAvaAction .MAvaAttention:before,.MAvaAction .MAvaAttention:after{content:'';position:absolute;line-height:0;background-color:#fff}
.MAvaAction .MAvaAttention:before{width:10px;height:2px;left:16px;top:11px}
.MAvaAction .MAvaAttention:after{width:2px;height:10px;left:20px;top:7px}
.MAvaAction .MAvaAttention .MAed,.MAvaAction .MAvaAttention .MAcancel{display:none}
.MAvaAction .MAvaAttentioned{background-color:#999;border-color:#999;padding:0;width:75px;text-align:center}
.MAvaAction .MAvaAttentioned:before,.MAvaAction .MAvaAttentioned:after{display:none}
.MAvaAction .MAvaAttentioned .MAing{display:none}
.MAvaAction .MAvaAttentioned .MAed{display:block}
.MAvaAction .MAvaAttentioned:hover{background-color:#fff;border-color:#ffa800;color:#ff8a00}
.MAvaAction .MAvaAttentioned:hover .MAcancel{display:inline-block}
.MAvaAction .MAvaAttentioned:hover .MAed{display:none}
.MAvaAction .MAvaEmail{padding:0 18px;color:#ff8a00}
.MAvaAction .MAvaEmail:hover{color:#fff;background-color:#ffa800}
.MAvaMore{margin-top:20px;border-top:#e2e2e2 1px solid;border-bottom:#e2e2e2 1px solid}
.MAvaMore .MAvaNums{position:relative;width:33%;float:left;padding:10px 0;text-align:center;line-height:20px}
.MAvaMore .MAvaNums:after{content:'';width:1px;position:absolute;right:0;top:0;bottom:0;background-color:#e2e2e2}
.MAvaMore .MAvaNums strong{font-size:20px;color:#444;font-family:Arial}
.MAvaMore .MAvaNums strong a{color:#444}
.MAvaMore .MAvaNums p{font-size:14px}
.MAvaMore .last:after{display:none}
.content{width:682px;margin-top:18px}
.common_block h2{position:relative;top:4px;display:inline}
.common_block{margin-bottom:18px;background-color:#fff;border:#e2e2e2 1px solid;box-shadow:0 0 2px rgba(0,0,0,0.05)}
.common_block h2{font-size:20px;color:#444;font-weight:normal}
.common_tips{font-size:14px;color:#654939;padding:7px 30px;line-height:24px;background-color:#fff9d8;border:#f5e9a6 1px solid;border-radius:3px;margin:-10px 30px 0}
.common_block .record_status{width:64px;padding-left:56px;height:22px;line-height:22px;border:1px solid #d9d9d9;border-radius:22px;color:#999;position:absolute;right:0;top:0;background-color:#fff;font-size:12px}
.main_links{padding:20px 0 17px;position:relative}
.main_links li{float:left;width:25%;position:relative;text-align:center}
.main_links li:after{content:'';width:1px;position:absolute;right:0;top:0;bottom:0;background-color:#e5e5e5}
.main_links li.last:after{display:none}
.main_links li i{width:45px;height:46px;background-image:url('/images/home_new2015/home_sprite_v15.png');display:inline-block;position:relative}
.main_links li i strong{width:18px;height:18px;background-color:red;display:block;border-radius:50%;color:#fff;font-style:normal;position:absolute;right:-8px;top:-4px;text-align:center;line-height:18px}
.main_links li .write_note{background-position:-210px -425px}
.main_links li .ask_expert{width:53px;background-position:-260px -427px}
.main_links li .add_footprint{width:56px;height:49px;background-position:-317px -422px}
.main_links li .invite_friends{height:47px;background-position:-379px -424px}
.main_links li a:hover .write_note{background-position:-210px -476px}
.main_links li a:hover .ask_expert{background-position:-260px -478px}
.main_links li a:hover .add_footprint{background-position:-317px -473px}
.main_links li a:hover .invite_friends{background-position:-379px -474px}
.main_links li a span{color:#999;font-size:16px;margin-top:6px;display:block}
.main_links li a:hover{text-decoration:none}
.main_links li a:hover span{color:#ff8a00}
.main_links li i{background-image:url('/images/home_new2015/twice_ico_sprite_v9.png');background-size:220px;background-repeat:no-repeat}
.main_links li .write_note{background-position:0 -1px}
.main_links li .ask_expert{background-position:-47px -3px}
.main_links li .add_footprint{background-position:-105px 2px}
.main_links li .invite_friends{background-position:-165px 0}
.main_links li a:hover .write_note{background-position:0 -52px}
.main_links li a:hover .ask_expert{background-position:-47px -54px}
.main_links li a:hover .add_footprint{background-position:-105px -49px}
.main_links li a:hover .invite_friends{background-position:-165px -51px}
.personal_info{border:0;background-color:#f5dc52;box-shadow:2px 3px 0 #dfca58;padding:28px 30px 30px;margin-bottom:30px}
.personal_tips{font-size:14px;color:#333;line-height:30px}
.personal_tips strong{font-size:18px;color:#ff7200;font-weight:normal}
.personal_list{margin-top:22px;overflow:hidden;*zoom:1}
.personal_list ul{width:630px}
.personal_list li{width:168px;margin-right:10px;padding:0 16px 30px;background-color:#fff;float:left;text-align:center}
.personal_ico{height:105px;line-height:105px;text-align:center}
.personal_ico i{width:59px;height:71px;line-height:0;display:inline-block;background-image:url('/images/home_new2015/default_sprite_v6.png');background-position:-1px -256px;vertical-align:middle}
.personal_ico .ico_stroll{width:72px;height:76px;background-position:-67px -256px}
.personal_ico .ico_daka{width:71px;height:81px;background-position:-147px -255px}
.personal_word{margin-top:2px;font-size:14px;line-height:24px;height:72px}
.personal_btn{margin-top:15px}
.personal_btn a{width:124px;background-color:#f1744f;font-size:14px;display:inline-block;color:#fff;line-height:36px;border-radius:36px}
.personal_btn .blue{background-color:#399bf2}
.personal_btn .blue:hover{background-color:#348fdf}
.personal_btn a:hover{background-color:#e06b49;text-decoration:none}
.personal_btn.complete a{background-color:#4ea88f;position:relative;padding-left:28px;width:96px;cursor:default}
.personal_btn.complete a:before{content:'';width:32px;height:32px;background-image:url('/images/home_new2015/home_sprite_v15.png');background-position:-66px -210px;position:absolute;left:2px;top:2px}
.personal_ava .img_ava{margin-right:30px;border-radius:120px}
.personal_more{margin-top:30px}
.personal_more li{padding-left:65px;position:relative;margin-bottom:20px}
.personal_more li .title{font-weight:normal;font-size:16px;line-height:30px;position:absolute;left:0;top:0}
.personal_submit{text-align:center;margin-top:20px}
.personal_submit a{font-size:18px;padding:0 40px}
.personal_submit a:focus{box-shadow:none}
.my_notes{padding-bottom:30px}
.notes_default_v2{padding-bottom:40px;position:relative}
.notes_default_v2 .notes_dcon{width:100%;height:320px;background:url('/images/home_new2015/noyj_v2.jpg') no-repeat}
.notes_default_v2 .notes_dcon p{width:100%;font-size:14px;color:#333;line-height:28px;text-align:center;padding-top:76px}
.notes_default_v2 .notes_dcon p span{font-size:16px}
.notes_default_v2 .notes_dcon p a{color:#ff8a00}
.notes_default_v2 .btn_write{display:block;width:140px;height:40px;border-radius:4px;background-color:#ff9e00;position:absolute;right:30px;top:-61px;font-size:16px;color:#fff;text-align:center;line-height:40px}
.notes_default_v2 .btn_write i{display:inline-block;width:18px;height:18px;background:url('/images/home_new2015/home_sprite_v15.png') -228px -325px no-repeat;margin-right:5px;vertical-align:middle}
.notes_default_v2 .btn_write:hover{background-color:#fea515;text-decoration:none}
.notes_default_v2 .btn_deleted{display:block;font-size:14px;color:#999;margin-top:10px;margin-left:10px}
.notes_default_v2 .btn_deleted i{float:left;margin:2px 5px 0 0;width:17px;height:17px;background-image:url('/images/home_new2015/ico_sprite_v8.png');background-position:-50px -215px}
.common_title{padding:25px 30px;line-height:30px;position:relative}
.common_title .title_more{color:#999;font-size:14px;line-height:36px;position:absolute;right:10px;top:22px;padding:0 15px;border-radius:36px}
.common_title .title_more:hover{background-color:#fca729;color:#fff;text-decoration:none}
.common_title .title_more:hover strong{color:#fff}
.common_title .title_more strong{font-size:20px;color:#666;font-family:Arial;margin:0 2px;font-weight:normal;position:relative;top:2px}
.common_title .title_more i{width:8px;height:13px;display:inline-block;background-image:url('/images/home_new2015/ico_sprite_v8.png');background-position:-90px -39px;float:right;margin-top:13px;margin-left:10px}
.common_title .title_more:hover i{background-position:-99px -39px}
.notes_default{padding:5px 0 50px 130px;position:relative}
.notes_default i{width:208px;height:157px;background-image:url('/images/home_new2015/default_sprite_v6.png');background-position:-5px -68px;display:block}
.notes_default_detail{width:250px;position:absolute;left:312px;top:75px;font-size:16px;color:#999;line-height:25px}
.notes_default_detail a{width:130px;line-height:38px;background-color:#ffa800;display:block;margin-top:15px;text-align:center;color:#fff;box-shadow:2px 3px 0 #ff8a00;font-size:14px;border-radius:5px}
.notes_default_detail a:hover{background-color:#ff8a00;text-decoration:none}
.ask_default .notes_default_detail{left:140px;width:220px}
.dp_default .notes_default_detail{left:325px;top:90px}
.ask_default{padding-left:365px}
.ask_default i{width:176px;height:183px;background-position:-227px -65px}
.dp_default{padding-left:145px;padding-top:0}
.dp_default i{width:199px;height:177px;background-position:-409px -66px}
.tabcon:visited,.tabcon:link{
display:block;
width:400px;
font-weight:bold;
color:#FFFFFF;
background-color:#bebebe;
text-align:center;
padding:14px;
margin-left: 8px;
text-decoration:none;
text-transform:uppercase;
} 
.tabcon:hover,.tabcon:active
{
background-color:#cc0000;
}
.littleWeather{
    float: none;
    padding: 0;
    width: auto;
    font-size: 12px;
    color: #999;
    line-height: 25px;
}
.littleWeather a{
    text-decoration: none;
    color: #999;
    line-height: 25px;
}