.page-search{

}

.noresult{
  background-color: #fff;
  background-position: center;
  background-size: auto;
  border-spacing: inherit;
}
.middle{
  width: 100%;
  text-align: center;
  font-size:50px;
  font-weight:bold;
}

.result{
  font-size: 2em;
  font-weight: bold;
  padding: 0.4em 0px;
  text-decoration:underline;
  color: #0678a9;
}
.lis-group-item-text{
  height: auto;
  color:black;
}

.result-box a{
  color: black;
  font-size:30px;
  font-weight:lighter;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 10px;
}
.authorid{
  font-size: 14px;
  color: #333;
  font-family: 'Microsoft YaHei';
}

.result-text{
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  font-size:36px;
}
.result-container a:hover{
  text-decoration: none;
}
.result-container a{
  color: black;
}
.result-container{
  margin-top: 60px;
  border-bottom: 1px solid #eee;
}
