<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<title>Travel Planning and Sharing Website: Tripedia</title>

	<!--use bootstrap style-->
	<link rel='stylesheet' href='/css/styles.css'>
</head>
<body>
	<!--navigation bar-->
</body>
</html>